.profiles-container {
  background-color: #DDE7F3;

  .profile {
    font-family: Big Noodle Too;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    // border: 3px solid #D1D5D5;
    border-radius: 5px;
    margin: 30px 50px;
    padding: 20px;
  }

  .profile-visuals {
    margin-right: 10px;
  }

  .profile-visuals > p {
    text-align: center;
    color: $dark-blue;
    font-size: 35px;
  }

  .profile-pic {
    border-radius: 5px;
    max-width: 200px;
    max-height: 200px;
  }

  .nav-logos {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .git-logo {
    max-width: 80px;
    max-height: 80px;
  }

  .linkedin-logo {
    max-width: 80px;
    max-height: 80px;
  }

  .profile-description {
    font-family: 'Roboto', sans-serif;
    padding: 3%;
    color: $dark-blue;
    font-size: 24px;
    letter-spacing: 1px;
  }
}
