@import 'reset';
@import 'app';
@import 'home';
@import 'team';
@import 'player_stats';
@import 'splash';
@import 'aboutus';
@import 'team_index';

@font-face {
  font-family: Big Noodle Too;
  src: url('../big_noodle_titling_oblique.ttf')
}

html, body {
  height: 100%;
}

.root {
  height: 100%;
  font-family: Big Noodle Too;
  // app.scss
  .App {
  }

  .nav {
    display: flex;
    // position: relative;
    border-bottom: 2px solid #D1D5D5;
    min-height: 50px;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    .user-welcome {
      font-family: Big Noodle Too;
      font-size: 24px;

    }

    .logo {
      text-decoration: none;
      // font-family: courier;
      line-height: 42px;
      font-weight: 400;
      font-size: 60px;
      -webkit-text-stroke: 1px #000;
      -webkit-text-fill-color: white;
      -moz-text-stroke: 1px #000;
      -moz-text-fill-color: white;

      text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

      span {
        color: #FE9A37;
        -webkit-text-fill-color: #FE9A37;
        -moz-text-fill-color: #FE9A37;
      }
    }
  }

  .footer {
    border-top: 2px solid #D1D5D5;
    height: 50px;
    // font-family: sans-serif;
    text-align: center;
    font-size: 24px;

    .about-us {
      text-decoration: none;
      color: #6F7272;
      line-height: 42px;
      // vertical-align: center;
    }

    .about-us:hover {
      color: #A6ABAB;
    }
  }
}

.logout {
  // position: absolute;
  font-family: Big Noodle Too;
  top: 0px;
  right: 0px;
  border: 3px solid blue;
  border-radius: 5px;
  padding: 5px 15px;
  background: #0e86ca;
  font-size: 24px;
  opacity: 0.9;
  margin: 5px;
  cursor: pointer;
}

.logout:hover {
  background: #00aeff;
}

.logout > a {
  color: $white;
  text-decoration: none;
}
