.player-stats.empty {
  padding: 3px;
  border: 1px dashed $white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.player-stats {
  height: 100%;
  display: flex;
  flex-direction: column;

  .name {
    color: white;
    font-size: 28px;
    margin: 0px 5px;
  }

  .player-stats-slot {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 3px;
    max-width: 220px;
    padding: 3px;
    border: 1px solid $white;

    .portrait {
      width: 50px;
    }

    .rank_div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40px;

      .rank_img {
        width: 40px;
      }
      .rank {
        font-size: 20px;
      }
    }
  }

}
