$blue: #3E85C5;
$dark-blue: #314CB6;
$orange: #F9A03F;
$black: #060808;
$white: #FDFFFC;

// main, div, ul, li {
  // display: flex;
// }

.smooth-border {
  border-radius: 5px;
}

.team-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Big Noodle Too, impact, sans-serif;

  .team-name {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-self: center;
  }

  .team-members {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;

    .player {
      display: flex;
      background: $dark-blue;
      // border: 1px solid $white;
      margin-right: 10px;
      margin-bottom: 10px;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
      width: 220px;

      // player-stats

      .role-div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          color: $white;
          font-size: 28px
        }

        .role-select {
          display: flex;
          width: 100%;
          .role-dropdown {
            height: 58px;
            // width: calc(100% - 68px);
            width: 100%;
            font-size: 20px;
            text-align-last: center;
          }
          // .role-icon {
          //   background: grey;
          //   border-radius: 5px;
          //   height: 58px;
          //   width: 68px;
          // }

          position: relative;
        }

        .role-select:after {
          content: '>';
          color: black;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          position: absolute;
          right: 18px;
          top: 15px;
          font: 25px "Big Noodle Too";
          pointer-events: none;
        }

      }

      .hero-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h1 {
          color: $white;
          font-size: 28px
        }

        .hero-select {
          width: 100%;

          .hero-dropdown {
            width: 100%;
            height: 50px;
            font-size: 20px;
            text-align-last: center;
            background: $orange;
          }
        }

        .hero-select:after {
          content: '>';
          color: black;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          position: absolute;
          right: 18px;
          top: 38px;
          font: 25px "Big Noodle Too";
          pointer-events: none;
        }
      }
    }
  }
}
