html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.App {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .App main {
    display: flex;
    background: #3E85C5;
    height: 100%; }

.home-page {
  height: 100%;
  display: flex; }
  .home-page .tag-location {
    display: absolute; }

.home-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-image: url("../images/Blizzard1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }
  .home-area .create-button, .home-area .join-button {
    font-family: Big Noodle Too;
    border: none;
    border-radius: 5px;
    width: 20%;
    padding: 1%;
    background: #0e86ca;
    font-size: 36px;
    color: #ffffff; }
  .home-area .create-button:hover, .home-area .join-button:hover {
    background: #00aeff;
    cursor: pointer; }

.smooth-border {
  border-radius: 5px; }

.team-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Big Noodle Too, impact, sans-serif; }
  .team-div .team-name {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    align-self: center; }
  .team-div .team-members {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap; }
    .team-div .team-members .player {
      display: flex;
      background: #314CB6;
      margin-right: 10px;
      margin-bottom: 10px;
      flex-direction: column;
      justify-content: space-between;
      height: 400px;
      width: 220px; }
      .team-div .team-members .player .role-div {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .team-div .team-members .player .role-div h1 {
          color: #FDFFFC;
          font-size: 28px; }
        .team-div .team-members .player .role-div .role-select {
          display: flex;
          width: 100%;
          position: relative; }
          .team-div .team-members .player .role-div .role-select .role-dropdown {
            height: 58px;
            width: calc(100% - 68px);
            font-size: 20px;
            text-align-last: center; }
          .team-div .team-members .player .role-div .role-select .role-icon {
            background: red;
            border-radius: 5px;
            height: 58px;
            width: 68px; }
        .team-div .team-members .player .role-div .role-select:after {
          content: '>';
          color: black;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          position: absolute;
          right: 18px;
          top: 15px;
          font: 25px "Big Noodle Too";
          pointer-events: none; }
      .team-div .team-members .player .hero-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; }
        .team-div .team-members .player .hero-div h1 {
          color: #FDFFFC;
          font-size: 28px; }
        .team-div .team-members .player .hero-div .hero-select {
          width: 100%; }
          .team-div .team-members .player .hero-div .hero-select .hero-dropdown {
            width: 100%;
            height: 50px;
            font-size: 20px;
            text-align-last: center;
            background: #F9A03F; }
        .team-div .team-members .player .hero-div .hero-select:after {
          content: '>';
          color: black;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          position: absolute;
          right: 18px;
          top: 38px;
          font: 25px "Big Noodle Too";
          pointer-events: none; }

.player-stats.empty {
  min-height: 50px;
  max-width: 220px;
  padding: 3px;
  border: 1px dashed #FDFFFC;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .player-stats.empty .name {
    color: white;
    font-size: 28px;
    margin: 0px 5px;
    overflow: hidden; }

.player-stats .player-stats-slot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  max-width: 220px;
  border: 1px solid #FDFFFC; }
  .player-stats .player-stats-slot .portrait {
    width: 50px; }
  .player-stats .player-stats-slot .name {
    font-size: 28px;
    margin: 0px 5px;
    overflow: hidden; }
  .player-stats .player-stats-slot .rank_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px; }
    .player-stats .player-stats-slot .rank_div .rank_img {
      width: 40px; }
    .player-stats .player-stats-slot .rank_div .rank {
      font-size: 20px; }

.background {
  height: 100%;
  width: 100%;
  background-image: url("../images/Blizzard2.png");
  background-size: cover;
  font-family: Big Noodle Too; }

.center-content {
  position: relative;
  top: 35%;
  display: flex;
  flex-direction: column; }

.welcome-msg {
  font-size: 80px;
  text-align: center;
  margin: auto;
  color: #FDFFFC;
  text-shadow: 4px 4px 10px black;
  width: 60%; }

.bnet-link {
  text-decoration: none;
  color: #ffffff; }

.bnet-button {
  border: none;
  border-radius: 5px;
  width: 20%;
  padding: 1%;
  background: #0e86ca;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
  margin-top: 3%; }

.bnet-button:hover {
  background: #00aeff; }

.profiles-container {
  padding: 1% 5%;
  background-color: #FDFFFC; }

.profile {
  font-family: Big Noodle Too;
  display: flex;
  justify-content: space-between;
  background-color: #FDFFFC;
  border: 3px solid #D1D5D5;
  border-radius: 5px;
  margin-bottom: 1%;
  padding: 2%; }

.profile-visuals {
  margin-right: 10px; }

.profile-visuals > p {
  text-align: center;
  color: #314CB6;
  font-size: 35px; }

.profile-pic {
  max-width: 300px;
  max-height: 300px; }

.nav-logos {
  display: flex;
  justify-content: space-between;
  padding: 0 10%; }

.git-logo {
  max-width: 100px;
  max-height: 100px; }

.linkedin-logo {
  max-width: 100px;
  max-height: 100px; }

.profile-description {
  font-family: 'Roboto', sans-serif;
  padding: 3%;
  color: #314CB6;
  font-size: 24px;
  letter-spacing: 1px; }

.team-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: auto;
  font-size: 25px; }
  .team-index .join-a-team-text {
    font-size: 50px;
    margin: 20px; }
  .team-index .team-ul {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    border-radius: 5px;
    width: 80%; }
    .team-index .team-ul .team-li:hover {
      background: #F7EDC3;
      cursor: pointer; }
    .team-index .team-ul .team-li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: white;
      min-height: 25px;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid grey; }
      .team-index .team-ul .team-li .team-player-num {
        padding-left: 10px;
        width: 50px; }
    .team-index .team-ul .team-li:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .team-index .team-ul .team-li:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

@font-face {
  font-family: Big Noodle Too;
  src: url("../big_noodle_titling_oblique.ttf"); }

html, body {
  height: 100%; }

.root {
  height: 100%;
  font-family: Big Noodle Too; }
  .root .nav {
    display: flex;
    border-bottom: 1px solid #D1D5D5;
    min-height: 50px;
    align-items: center;
    background: #DAE7F4;
    justify-content: space-between; }
    .root .nav .user-welcome {
      display: none;
      font-family: Big Noodle Too;
      font-size: 24px; }
    .root .nav .logo {
      text-decoration: none;
      margin: 20px;
      line-height: 42px;
      font-weight: 400;
      font-size: 60px;
      -webkit-text-stroke: 1px #000;
      -webkit-text-fill-color: white;
      -moz-text-stroke: 1px #000;
      -moz-text-fill-color: white;
      text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
      .root .nav .logo span {
        color: #FE9A37;
        -webkit-text-fill-color: #FE9A37;
        -moz-text-fill-color: #FE9A37; }
  .root .footer {
    background: #DAE7F4;
    border-top: 1px solid #D1D5D5;
    height: 50px;
    text-align: center;
    font-size: 24px; }
    .root .footer .about-us {
      text-decoration: none;
      color: #6F7272;
      line-height: 42px; }
    .root .footer .about-us:hover {
      color: #A6ABAB; }

.logout {
  font-family: Big Noodle Too;
  top: 0px;
  right: 0px;
  border: 0px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #0e86ca;
  font-size: 24px;
  margin: 5px;
  cursor: pointer; }
  .logout > a {
    color: #FDFFFC;
    text-decoration: none; }

.logout:hover {
  background: #00aeff; }
